/* ====================
   IMPORTS
==================== */
@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Bitcount+Grid+Double:wght@100..900&family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ====================
   RESET
==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}



img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}



/* ====================
   VAR
==================== */
:root{
    --FW: 500;
    --FF: "Montserrat", sans-serif;
    --FF2: "Cinzel",serif;
    --LS: .08rem;
    --FS: clamp(2rem, 5vw, 5rem);
    
}
/*ji*/

.container-parent {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.ji-theme {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #2a0f13 0%,
    #3d171d 45%,
    #18090c 100%
  );

  color: #f6efe6;
  font-family: var(--FF);
}

.ji-header {
  position: sticky;
    top: 0;
    z-index: 100;
}

.ji-header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  font-weight: var(--FW);
background: linear-gradient(
    to right,
    #2a0f13,
    #4a1820,
    #2a0f13
);

  border-bottom: 1px solid #c9a227;

  box-shadow:
    0 3px 10px rgba(0,0,0,.45),
    0 0 10px rgba(79,143,103,.2);
}

.char-card-ji img {
  width:125px;
height:auto;
  margin: 0.7rem 0;
}

.char-card-ji {
  display: flex;
  flex-direction: column;

  width:clamp(250px,25vw,300px);

  margin: 2rem;
  padding: 0.2rem;

  align-items: center;
  text-align: center;

  font-family: var(--FF);
  font-weight: var(--FW);
  letter-spacing: var(--LS);

  border-radius: 12px;

  background: linear-gradient(
    180deg,
    #5a1f29,
    #2f1117
  );

  border: 1px solid #c9a227;
}

.section-title-ji {
  width: 100%;
  font-size: 1.53rem;
  font-weight: var(--FW);

  background: linear-gradient(
    180deg,
    #8c2733,
    #6b1c28
  );

  color: #f6efe6;
}

.info-row-ji {
  width: 100%;
  font-size: 1.2rem;
  padding:.5rem;

  font-weight: var(--FW);

  background: linear-gradient(
    180deg,
    #4a1820,
    #321015
  );

  color: #e6c76b;

  border-top: 1px solid rgba(79,143,103,.4);
}

/* top-content {
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 10px;
    align-items: start;
}

.introduction{
  margin: 3rem;
}


.design {
  text-align: center;
}


.introduction h2{
  margin: 1rem;
  color: #e7c46a;
}


.bottom-content h2{

   margin: 1rem;
   color: #e7c46a;
}

.bottom-content h3{
  margin: 1rem;
  color: #7cb99b;

}


.bottom-content p{
  margin:1rem;
  font-size: 1.1rem;
  color: #e8ddd0;
}

.bottom-content li{
  margin: 1.2rem;
  font-size: 1.1rem;
  color: #d7c7b0;
}

.introduction p{
  margin:1rem;
  font-size: 1.1rem;
  color: #e8ddd0;
}

.highlight{
  color:#79d3c0;
}

strong{
  color:#f0cf74;
}

em{
  color:#b8d7c7;
} */

.top-content {
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 10px;
    align-items: start;
}

.introduction{
  margin: 3rem;
}

.design {
  text-align: center;
}

.introduction h2{
  margin: 1rem;
  font-size: 2rem;
  color: #e7c46a;
}

.bottom-content h2{
  margin: 1rem;
  font-size: 2rem;
  color: #e7c46a;
}

.bottom-content h3{
  margin: 1rem;
  font-size: 1.4rem;
  color: #7cb99b;
}

.bottom-content p{
  margin: 1rem;
  font-size: 1.1rem;
  color: #e8ddd0;
}

.bottom-content li{
  margin: 1.2rem;
  font-size: 1.1rem;
  color: #d7c7b0;
}

.introduction p{
  margin: 1rem;
  font-size: 1.1rem;
  color: #e8ddd0;
}

.highlight{
  color: #79d3c0;
}

strong{
  color: #f0cf74;
}

em{
  color: #b8d7c7;
}

footer{
  text-align: center;
}