/* ====================
   IMPORTS
==================== */
@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Bitcount+Grid+Double:wght@100..900&family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ====================
   RESET
==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

 body .eigong-theme {
  min-height: 100vh;
  line-height: 1.5;
  background: linear-gradient(135deg, #0a0a0a, #1c1c1c, #2e2e1f);
  font-family: var(--FF);
}



img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* ====================
   RESET
==================== */
:root{
    --FW: 500;
    --FF: "Montserrat", sans-serif;
    --FF2: "Cinzel",serif;
    --LS: .08rem;
    --FS: clamp(2rem, 5vw, 5rem);
    
}

.eigong-header {
  position: sticky;
  top: 0;
  z-index: 100;

}

.eigong-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  font-weight: var(--FW);
  background: linear-gradient(to right, #0d0d0d, #2a2a1a, #3a2a0f);
border-bottom: 0.2px solid #c9a227;
}


.char-card img {
  width: 158px;
   margin: 0.7rem 0;
  
}

.all {
  display:flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  
}


.char-card {
  display: flex;
  width: 300px;
  border: 2px solid #8c6a2f;
 /*  background: #22211d; */
  /* background: #1e1a16; */
  background: #252525;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:2rem;
  padding:0.2rem;
  font-family: var(--FF);
  font-weight: var(--FW);
  letter-spacing: var(--LS);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.45);
}

.section-title{
  width: 100%;
  font-size: 1.6rem;
  background: linear-gradient(to right, #2b1f0d, #4b3418, #2b1f0d);
  color: #d4af37;

}

.info-row {
  width: 100%;
  font-size: 1.2rem;
  color: #f5deb3;
}

/* ji */
.container-parent{
  display:flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.ji-theme{
  height: 100vh;
  background: linear-gradient(
    180deg,
    #2a0f13 0%,
    #3d171d 45%,
    #18090c 100%
  );

  color: #f6efe6;
  font-style: var(--FF);
}

.ji-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.ji-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  font-weight: var(--FW);
  border-bottom: 1px solid #c9a227;

  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.45),
    0 0 10px rgba(79, 143, 103, 0.2);
}

/* character-card */

.char-card-ji img {
  width: 125px;
  height: 299px;
  margin: 0.7rem 0;
}

.char-card-ji {
    font-style: var(--FF);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 2rem;
  padding: 0.2rem;
  font-family: var(--FF);
  font-weight: var(--FW);
  letter-spacing: var(--LS);
  border-radius: 12px;

  background: linear-gradient(
    180deg,
    #5a1f29,
    #2f1117
  );

  border: 1px solid #c9a227;
  box-shadow: #0a0a0a;
/*   box-shadow: 0 0 18px rgba(201, 162, 39, 0.25); */
}

.section-title-ji {
  width: 100%;
  font-size: 1.53rem;
  font-weight: var(--FW);
  font-style: var(--FF);

  background: linear-gradient(
    180deg,
    #8c2733,
    #6b1c28
  );
  color: #f6efe6;
}

.info-row-ji {
  width: 100%;
  font-size: 1.2rem;
    font-style: var(--FF);
  font-weight: var(--FW);

  background: linear-gradient(
    180deg,
    #4a1820,
    #321015
  );

  color: #e6c76b;

  border-top: 1px solid rgba(79, 143, 103, 0.4);
}